<div id="<%= dom_id staff %>">
  <p>
    <strong>Staff:</strong>
    <%= staff.staff_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= staff.lastname %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= staff.job_title %>
  </p>

  <p>
    <strong>Total hours:</strong>
    <%= staff.total_hours %>
  </p>

  <p>
    <strong>Total days worked:</strong>
    <%= staff.total_days_worked %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= staff.salary %>
  </p>

</div>
