<div id="<%= dom_id salary_deduction %>">
  <p>
    <strong>Staff:</strong>
    <%= salary_deduction.staff_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= salary_deduction.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= salary_deduction.lastname %>
  </p>

  <p>
    <strong>Total days worked:</strong>
    <%= salary_deduction.total_days_worked %>
  </p>

  <p>
    <strong>Hours worked:</strong>
    <%= salary_deduction.hours_worked %>
  </p>

  <p>
    <strong>Tax fee:</strong>
    <%= salary_deduction.tax_fee %>
  </p>

  <p>
    <strong>Pension fee:</strong>
    <%= salary_deduction.pension_fee %>
  </p>

</div>
